
/* basic default styling */

a {
    text-decoration: none;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF6E7;
}

/* navigation bar */
.topnav {
    background-color: #6B7A8F;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1000px;
    height: 60px;
    margin:0px;
    position: fixed;
    top:0px;
    left:0px;
    padding-top: 20px;
    align-items: baseline;
    z-index:5;
}

#home {
    font-weight: bold;
    font-size: 40px;
    color: #F7882F;
    padding-left: 15px;
    letter-spacing: 0.2em;
}

/*text in nav*/
.menu-item {
    font-size: 25px;
    color: #F7882F;
    padding-right: 30px;
}

/*icons in nav */
.side-top {
    font-size: 30px;
    color: #F7882F;
    padding-right: 20px;
}

#lblCartCount {
    font-size: 14px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    border-radius: 5px
}

/* perfectfit button right below nav*/
.perfectfit{
    font-size: 25px;
    width: 200px;
    height: 40px;
    background-color: #F7C331;
    text-align:center;
    color: #6B7A8F;
    font-weight: bold;
    position:fixed;
    top:80px;
    right: 0px;
    margin-top: 0;
    opacity: 0.95;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5
}

/*nav interactivity */
#home:hover, .menu-item:hover, .side-top:hover, .perfectfit:hover{
    opacity:0.7;
}




/*start of Landing Page */


/*landing page container*/
.main{
    margin-top: 80px;
    width:100%;
}

/* top row of landing page*/
.row-1{
    width:100%;
    height:350px;
    overflow:scroll;
}
/* row 1 elements*/
.row-1 div{

    min-width:250px;
    width:20%;
    float:left;
    margin: auto;
    text-align: center;
    padding:15px;
    padding-right:30px;
}

/* Shop text in row 1*/

.browse {
    text-transform: uppercase;
    color: black;
}

/* product picture shading*/
.pillow img{
    box-shadow: 0px 4px 4px 0px #000;
}

/* product picture captions*/
.caption {
    text-align: center;
    padding-top:10px;
    font-size: 20px;
    position: relative;
    margin-top: 0px;
    width: 100%;
    color: black;
}

/* second row of landing page*/
.row-2{
    width:100%;
    height:350px;
    overflow:scroll;
}

/*elements in row 2*/
.reviews {
    font-size:20px;
    background-color: #DCC7AA;
    text-align: center;
    color:#6B7A8F;
    overflow:hidden;
}

.reviews p{
    margin: 20px;
    padding:20px;
}

.customer{
    display: inline-block;
    border: 1px #6B7A8F solid;
}

/*third row of landing page*/
.row-3{
    width:100%;
    height:350px;
    background-image: url('pillow4.png');
    opacity:0.8;
}

.instagram {
    overflow: hidden;
    background-repeat: no-repeat;
    text-align:center;
    color: #F7C331;
    font-size: 40px;
    margin-top:0;
}

/*interactivity for main body of landing page*/
.row-1 div:hover, .reviews p:hover, .row-3 h2:hover{
    opacity: 0.7;
    cursor: pointer;
}




/* Start of the Browse page */

/*container for main body*/
.new-main-1{
    margin-top: 80px;
    width:100%;
}

/*product card containers*/
.card {
    max-width: 400px;
    width:33.33%;
    float:left;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding:15px;
    color:#6B7A8F;
    margin:20px;
}

.card img{
    box-shadow: 0px 4px 4px 0px #000;
}

.card a{
    color: #6B7A8F;
}

.number3 h1{
    margin-top:28px;
}

.price{
    color: grey;
    font-size: 22px;
}

/* product buttons */
.cart-button, .myplace-button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cart-button{
     background-color: #000;
}

.myplace-button {
    background-color:green;
}

/*button interactivity*/
.cart-button:hover, .myplace-button:hover {
    opacity: 0.7;
}


/* legacy styling for browse page
.main-1{
    margin-top: 100px;
    padding-left: 15px;
    display:grid;
    width: auto;
    min-width: 100px;
    height:auto;
    min-height:0;
    min-width:0;
    grid-template-areas:
    "header header header"
    "one two three";
    align-content: center;
    grid-gap: 20px;
    overflow: hidden;
}

.browse-title {
    grid-area:header;
    text-align: center;
}

.product-1 {
    grid-area: one;
}

.product-2 {
    grid-area: two;
}

.product-3{
    grid-area: three;
}

.pillow-product{
    border-radius:5px;
}

.product-title{
letter-spacing:.1em;
color: white;
}

.Add-to-cart{
    background-color:yellow;
    font-size:20px;
}

*/


/*start of Shopping Cart page */
.shopping-cart {
    padding-top: 80px;
    width: 900px;
    height: 800px;
    margin: 60px auto 0px auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
}

.cont-shopping {
    margin-top:60px;
    margin-left: 190px;
    padding: 5px;
    float: left;
    position:absolute;

}

.shopping-cart-title {
    height: 80px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 40px;
    font-weight: 400;
}

.item{
    padding:20px 30px;
    height: 300px;
    display: flex;
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.item:nth-child(odd){
    background: rgba(107,122,143, 0.4);
}

.item:nth-child(even) {
    background-color: rgba(107,122,143, 0.2);
}

.image {
    margin-right: 50px;
    overflow:hidden;
    max-width:100%;
    height: auto;
}

.item-desc {
    padding-top: 10px;
    margin-right: 60px;
    width: 120px;
}

.item-desc span{
    display: block;
    font-size: 16px;
    color: #43484D;
    font-weight: 800;
}

.item-desc span:first-child {
  margin-bottom: 10px;
}

.item-desc span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.qty{
    padding-top: 20px;
    margin-right: 60px;
}

.qty input{
    border: 1px solid black;
    text-align: center;
    width:30px;
    font-size: 16px;
    font-weight:300;
    height: 25px;
    border-radius: 6px;
    height: 28px;
}

.qty button {
    border: 1px solid black;
}

.total-price {
    width: 84px;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.less, .more {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border:none;
    cursor: pointer;
}
.less{
    margin-left: 10px;
}

.subtotal {
    box-sizing: border-box;
    margin: 0 auto;
    width: 900px;
    text-align: right;
    padding: 10px 150px 10px 10px;
}

  .subtotal span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
    }

.total-row {
    list-style: none
}

.label {
    font-size: 1em;
    text-transform: uppercase;
    color: #777;
    }

.value {
    letter-spacing: -.025em;
    width: 35%;
    }

.continue-shopping, .checkout{
    background-color: green;
    padding: 10px;
    border-radius: 35px;
    color: white;
    font-weight:700;
}

.checkout {
    width: 300px;
    display: block;
    text-align: center

}

#final{
    width: 140px;
    float: right;
    padding-right: 25px;
}

.remove {
    padding: 20px;
}

.rmv-button {
    color: white;
    background-color: #EB5757;
    border-radius: .3em;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    align-self: center;
    cursor: pointer;

}

/* Start of the Product Details Page */

/*container for main body */
.new-main-2 {
    max-width:1200px;
    margin: 0 auto;
    margin-top:80px;
    padding: 15px;
    display: flex;
}

/* container for left side of main body*/
.left-col {
    width:55%;
    position:relative;
    margin: 25px;
}

/*product image*/
.left-col img{
    box-shadow: 0px 4px 4px 0px #000;
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
/*product details text block */
.left-col p{
    position:relative;
    top:600px;
}

/*container for right side of main body*/
.right-col {
    width:45%;
    margin-top:50px;
}

.right-col h2{
    color: #6B7A8F;
}

/*top container for text in right col*/
.product-description{
    border-bottom:1px solid #E1E8EE;
    margin-bottom:20px;
}

/*product name */
.product-description h1{
    font-weight:500;
    font-size:52px;
    color: #6B7A8F;
}


.product-color {
    margin-bottom: 30px;
}

.color-choice div{
    display: inline-block;
}

.color-choice button{
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    margin:10px;
    cursor: pointer;
}

/* color choice buttons*/
#yellow{
    background-color:gold;
}

#blue-denim {
    background-color: blue;
}

#purple{
    background-color:purple;
}

#teal {
    background-color: teal;
}

/*filling choice options*/
.filling-config{
    margin-bottom:20px;
}

.filling-config button{
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color:#5E6977;
    background-color:#fff;
    cursor: pointer;
    margin:10px;
}

.filling-head{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

/*add to cart and add to myplace buttons*/
.checkout-buttons{
    margin-right:10px;
}

.checkout-buttons button{
    cursor:pointer;
    border-radius: 6px;
    margin:10px;
    font-size:25px;
    display:block;

}

/*interactivity for product details page*/
.product-price button:hover, .filling-config button:hover, .color-choice button:hover{
    opacity:0.7;
}




/*legacy product deails page styling
.main-2{
    margin-top: 100px;
    padding-top:20px;
    padding-left: 15px;
    display:grid;
    width: auto;
    min-width: 100px;
    height:auto;
    min-height:0;
    grid-template: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%/ 300px 200px 150px;
    align-content: center;
    grid-gap: 10px;
    overflow: hidden;
}


.couch-pillow-picture {
    grid-area: 1 / 1 / 5 / 2;
}

#description {
    grid-area: 6/1/10/2;
}

#product-title {
    grid-area: 1/2/4/3;
}

#Add-to-cart {
    grid-area: 3/2/4/3;
}

#product-myplace {
    grid-area: 3/3/4/4;
}

#quant {
    grid-area:4/2/5/3;
}

#colors {
    grid-area: 5/2/6/3;
}

#blue-denim {
    grid-area: 6/2/7/3;
}

#rainy-day {
    grid-area:7/2/8/3;
}

#morning-haze {
    grid-area: 8/2/9/3;
}

#after-school {
    grid-area: 9/2/10/3;
}

#filling {
    grid-area:5/3/6/4;
}

#duck-down{
    grid-area: 6/3/7/4;
}

#memory-foam{
grid-area: 7/3/8/4;
}

#hypo-poly {
grid-area: 8/3/9/4;
}

*/
